--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0
transformers
timm
geffnet
huggingface_hub
natsort

# diffusion
diffusers
# 3D
trimesh
open3d==0.18.0
pyrender
pyglet<2.0

